.main-title {
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.secondary-title {
  text-align: center;
  margin-bottom: 40px;
}

/*contains all cards*/
.cards-container {
}

/*each card*/
.cards {
  border: 1px solid #000;
  /*width: 50%;*/
  margin: auto;
  padding: 30px;
}

.card-title {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.input-title {
  font-weight: bold;
  margin: auto;
}

.inputs {
  width: 100%;
  margin: auto;
}

.row-title {
  font-weight: bold;
  font-size: 20px;
  margin: auto;
}

.row-title-box {
  padding: 10px;
}

.character-image {
  height: 30%;
  width: 30%;
  border: 1px solid #000;
}

/*each row*/
table {
  table-layout:fixed;
  width:100%;
}



td {
  padding: 0;
}

.header-control {
  height: 150px;
}

.char-detail-input {
  width: 100%;
}
