/*base layout header styles*/

.main-title {
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
  margin: auto;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #000;
  border-bottom: 2px solid #90a4ae;
  color: #FFF;
}

.home-nav-button {
  height: 300px;
  border: 1px solid #000;
  text-align: center;
}

.home-nav-button p {
  font-size: 90px;
  font-weight: bold;
  padding-left: 300px;
  padding-top: 75px;
}

.white-text {
  color: #FFF;
}

.create-character-button {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 100, 0.4) ), url('/images/alien-tank.jpeg');
  background-repeat: no-repeat;
}

.create-character-button:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 200, 0.6) ), url('/images/alien-tank.jpeg');
  background-repeat: no-repeat;
}

.create-game-button {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 100, 0.4) ), url('/images/robot.jpeg');
  background-repeat: no-repeat;
}

.create-game-button:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 200, 0.6) ), url('/images/robot.jpeg');
  background-repeat: no-repeat;
}

.join-game-button {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 100, 0.4) ), url('/images/starfinder-gun.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.join-game-button:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 200, 0.6) ), url('/images/starfinder-gun.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.home-text {
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
}

/*CHARACTER SHEET STYLES*/
.character-sheet-background {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 100, 0.4) ), url('/images/blurry-space-bg.png');
}

.secondary-title {
  text-align: center;
  margin-bottom: 40px;
  color: #FFF;
}

.character-sheet-controls {
  width: 80%;
  margin: auto;
  color: #FFF;
}

/*cards containing div*/
.cards-container {
}

/*each card*/
.cards {
  border: 1px solid #000;
  padding: 30px;
  background-color: #FFF;
}

.card-title {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.input-title {
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.inputs {
  width: 100%;
  margin: auto;
}

.row-title {
  font-weight: bold;
  font-size: 16px;
  margin: auto;
}

.row-title-box {
  padding: 10px;
}

.character-image {
  height: 30%;
  width: 30%;
  border: 1px solid #000;
}

/*each row*/
table {
  table-layout:fixed;
  width:100%;
}

td {
  padding: 0;
}

.header-control {
  height: 150px;
}

.delete-button {
  background-color: red;
  color: #FFF;
}

.char-detail-input {
  width: 100%;
}

.game-player-stat {
  height: 30px;
}

.image-upload-container {
  border: 1px solid #000;
  background-color: #FFF;
  padding: 30px;
  float: none;
}

/*Login Area CSS*/
.accounts-main-container {
  background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .5) ), url('/images/earth-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 100px 100px 100px;
  color: #FFF;
}

.login-area {
  /*text-align: center;*/
  width: 50%;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient( rgba(255, 255, 255, .25), rgba(255, 255, 255, .25) );
}

.submit-button {
  background-color: #4A74B0;
  color: #FFF;
  border: 1px solid #FFF;
  margin-bottom: 40px;
}

.submit-button:hover {
  color: #FFF;
  background-color: #365681;
}

/*Join Game CSS*/
.join-game-main-container {
  background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) ), url('/images/blurry-space-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.join-game-section {
  background: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) );
  width: 70%;
  margin: auto;
  border-radius: 20px;
  padding: 30px;
}

.join-game-header {
  text-align: center;
  font-weight: bold;
}

.go-home-button {
  background-color: #455a64;
  border: 1px solid #000;
  margin-top: 10px;
  color: #FFF;
}

.go-home-button a {
  color: #FFF;
  text-decoration: none;
}

.go-home-button:hover {
  color: #FFF;
}

.game-select {
  background-color: #FFF;
  padding: 40px;
  border-radius: 5px;
}

.input-row {
  margin-top: 15px;
}

/*MASONRY*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 43%;
  margin: 10px;
  /*height: 1000px;*/
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-sizer {
  width: 40%;
}

/*create game styling*/

.game-page-background {
  background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) ), url('/images/blurry-space-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.game-page-background:after {
  content: "";
  display: table;
  clear: both;
}

.game-page-control-area {
  background: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) );
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.visible-to-players-section {
  background-color: #FFF;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.radio-button-row {
}

.player-cards {
  border: 1px solid #000;
  padding: 30px;
  border-radius: 3px;
  background-color: #FFF;
  margin-bottom: 20px;
}

/*DICE ROLLER STYLE*/
.dice-roller {
  background-color: #FFF;
}
