.cards {
  border: 1px solid #000;
}

.flex {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
}

.inputs {
}

.character-image {
  height: 30%;
  width: 30%;
  border: 1px solid #000;
}

td {
  padding: 0;
}
